body {
  background-color: #3E2A34;
  color: #3E2A34;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  margin: 0 auto;
  min-width: 320px;
  text-align: center;
}

input,
button {
  border: none;
  outline: none;
}

.main-heading {
  color: #FFF;
  font-size: 1.4em;
  font-weight: 800;
  letter-spacing: 2px;
  margin: 0;
  padding: 10px 3px 0 0;
}

.main-heading-logo {
  width: 40px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  padding: 0 20px;
}

.search-input {
  border-radius: 3px 0 0 3px;
  border: 2px solid #BEB2B4;
  color: #3E2A34;
  font-size: .6em;
  height: 6px;
  padding: 10px;
  width: 100%;
}

.search-input::placeholder {
  color: #8C7D83;
}

.search-btn {
  background-color: #BEB2B4;
  border-radius: 0 3px 3px 0;
  border: 2px solid #BEB2B4;
  color: #FFF;
  font-size: .8em;
  height: 30px;
  padding: 0;
  width: 35px;
}

.search-input:focus {
  border: 2px solid #F2806F;
}

.search-input:focus::placeholder {
  color: transparent;
}

.search-btn:focus,
.search-input:focus + .search-btn {
  background-color: #F2806F;
  border: 2px solid #F2806F;
}

.user-area {
  padding: 20px;
}

.user-input-area {
  letter-spacing: 1px;
  text-align: left;
}

.title-input-area,
.caption-input-area {
  display: flex;
  flex-direction: column-reverse;
}

.user-input {
  border: 2px solid #FFF;
  color: #3E2A34;
  font-size: .7em;
  height: 32px;
  margin: 3px 0 15px 0;
  padding: 0 10px;
}

.input-label {
  color: #8C7D83;
  font-size: .6em;
}

.user-input:focus {
  border: 2px solid #F2806F;
}

.user-input:focus + .input-label {
  color: #F2806F;
}

.user-btn-area {
  display: flex;
  flex-direction: column;
}

.user-btn {
  background-color: #5B4447;
  color: #FFF;
  cursor: pointer;
  letter-spacing: 1px;
  padding: 10px;
}

.user-btn:hover,
.user-btn:focus {
  background-color: #8C7D83;
}

.user-btn:active {
  background-color: #5B4447;
}

#file-input {
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 0.1px;
  z-index: -1;
}

#file-input:focus + .file-input-btn {
  background-color: #8C7D83
}

.file-input-btn {
  font-size: .7em;
  margin: 8px 0 0 0;
}

.view-and-add-btn-area {
  display: flex;
  justify-content: space-between;
  margin: 22px 0 5px 0;
}

.view-favorites-btn,
.add-to-album-btn {
  font-size: .5em;
  width: 45%;
}

.add-to-album-btn:disabled {
  background-color: #3E2A34;
  border: 2px solid #8C7D83;
  color: #8C7D83;
}

.photo-area {
  background-color: #BEB2B4;
  height: 100%;
  min-height: 200px;
  padding: 25px 25px 0 25px;
}

.empty-photo-area-heading {
  color: #8C7D83;
  display: block;
}

.photo-card {
  background-color: #FFF;
  border: 2px solid #8C7D83;
  margin: 0 0 25px 0;
  text-align: left;
}

.photo-card-heading,
.photo-card-caption {
  font-size: 1em;
  font-weight: 600;
  margin: 0;
  padding: 10px;
  border: 3px solid transparent
}

.photo-card-caption {
  line-height: 1.3;
  margin: -6px 0 0 0;
}

.photo-card-img {
  width: 100%;
}

.photo-card-heading:focus,
.photo-card-caption:focus {
  border: 3px solid #3E2A34;
  outline: none;
}

.photo-card-icons {
  background-color: #5B4447;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.card-icon {
  background-color: #5B4447;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
}

.delete-icon {
  background-image: url("images/delete.svg");
}
 
.delete-icon:hover {
  background-image: url("images/delete-active.svg");
}

.favorite-icon {
  background-image: url("images/favorite.svg");
}

.favorite-icon:hover,
.favorite-icon-active {
  background-image: url("images/favorite-active.svg")
}

@media only screen and (min-width: 375px) {

  body {
    font-size: 1.7em;
  }

  .main-heading-logo {
  width: 49px;
  }

}

@media only screen and (min-width: 414px) {

  body {
    font-size: 1.9em;
  }

  .main-heading-logo {
  width: 56px;
  }

  .user-area {
    max-width: 600px;
  }

  .header {
    margin: 0 auto;
  }

  .main-heading {
    margin: 10px 0 20px 0;
  }

  .user-area {
    margin: 40px auto 0;
  }

  .search-container {
    margin: 0 auto;
    max-width: 600px;
    padding: 0 20px;
  }

  .search-input {
    height: 20px;
  }

  .search-btn {
    height: 44px;
    width: 60px;
  }

  .user-input {
    height: 48px;
  }

  .user-btn {
    font-size: .6em;
    padding: 15px;
  }

  .file-input-btn {
    margin-top: 30px;
  }

  .view-and-add-btn-area {
    margin: 48px 0 30px 0;
  }

  .photo-card-heading,
  .photo-card-caption {
    font-size: .7em;
  }

}

@media only screen and (min-width: 500px) {

  body {
    font-size: 2em;
  }

  .main-heading-logo {
  width: 58px;
  }

  .photo-area {
    display: grid;
    grid-gap: 50px 50px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 0 auto;
    padding: 30px 50px;
  }

  .photo-card {
   margin: 0;
  }

  .photo-card-img {
    height: 35vh;
    object-fit: cover;
  }

}

@media only screen and (min-width: 768px) {

  .header {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 100%;
  }

  .main-heading {
    margin: 10px 30px;
  }

  .search-container {
    margin: 27px 30px 0 0;
    padding: 0;
    width: 30%;
  }

  .photo-area {
    padding: 50px 75px;
  }

}