body {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  margin: 0 auto;
  text-align: center;
  color: #3E2A34;
  background-color: #3E2A34;
}

.main-heading {
  font-size: 4.5em;
  color: #FFF;
  margin: 0;
  padding: 25px 3px 0 0;
  font-weight: 800;
  letter-spacing: 5px;
}

.main-heading--logo {
  width: 125px;
}

.search-container {
  padding: 0 55px;
  display: flex;
  justify-content: center;
  margin: 35px 0;
}

.search-input {
  height: 80px;
  width: 85%;
  border: 4px solid #BEB2B4;
  border-radius: 10px 0 0 10px;
  font-size: 1.8em;
  padding: 0 20px;
  color: #3E2A34;
}

.search-input::placeholder {
  color: #8C7D83;
}

.search-btn {
  height: 88px;
  width: 86px;
  background-color: #BEB2B4;
  color: #FFF;
  font-size: 2.5em;
  border: 4px solid #BEB2B4;
  border-radius: 0 10px 10px 0;
}

.search-input:focus {
  outline: none;
  border: 4px solid #D47360;
}

.search-input:focus::placeholder {
  color: transparent;
}

.search-input:focus + .search-btn {
  background-color: #D47360;
  border: 4px solid #D47360;
}

.user-area {
  padding: 55px;
}

.user-inputs {
  text-align: left;
  letter-spacing: 1px;
}

.input-label {
  color: #8C7D83;
  font-size: 1.7em;
}

.user-input {
  width: 100%;
  height: 95px;
  margin: 10px 0 60px 0;
  padding: 0;
  border: 4px solid #FFF;
  color: #3E2A34;
}

.user-btns {
  display: flex;
  flex-direction: column;
}

.user-btn {
  background-color: #5B4447;
  border: 4px solid #5B4447;
  color: #FFF;
  letter-spacing: 2px;
  padding: 28px;
}

.choose-file-btn {
  font-size: 1.8em;
  margin: 20px 0 0 0;
}

.view-and-add-btns {
  display: flex;
  justify-content: space-between;
  margin: 70px 0 15px 0;
 
}

.view-favorites-btn,
.add-to-album-btn {
  font-size: 1.4em;
  width: 45%;
}

.photo-area {
  background-color: #BEB2B4;
  min-height: 420px;
  padding: 65px;
}

.empty-photo-area-heading {
  color: #8C7D83;
  display: block;
}

.photo-card {
  background-color: #FFF;
  border: 4px solid #8C7D83;
  text-align: left;
}

.photo-card-heading {
  font-size: 3em;
  font-weight: 600;
  margin: 0;
  padding: 35px;
}

.photo-card-img {
  width: 100%;
}

.photo-card-caption {
  font-size: 2.9em;
  padding: 20px 35px 35px 35px;
  margin: 0;
  line-height: 1.3;
}

.photo-card-icons {
  background-color: #5B4447;
  padding: 35px;
  display: flex;
  justify-content: space-between;
}

.card-icon {
  background-repeat: no-repeat;
  height: 110px;
  width: 110px;
}

.delete-icon {
  background-image: url("images/delete.svg");
}

.delete-icon:hover {
  background-image: url("images/delete-active.svg")
} 
.delete-icon:active {
  background-image: url("images/delete-active.svg")
}

.favorite-icon {
  background-image: url("images/favorite.svg");
}

.favorite-icon:hover {
  background-image: url("images/favorite-active.svg")
}

.favorite-icon:active {
  background-image: url("images/favorite-active.svg")
}






