body {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  margin: 0 auto;
  text-align: center;
  color: #3E2A34;
  background-color: #3E2A34;
}

input,
button {
  border: none;
  outline: none;
}

.main-heading {
  font-size: 4.5em;
  color: #FFF;
  margin: 0;
  padding: 25px 3px 0 0;
  font-weight: 800;
  letter-spacing: 5px;
}

.main-heading--logo {
  width: 125px;
}

.search-container {
  padding: 0 55px;
  display: flex;
  justify-content: center;
  margin: 35px 0;
}

.search-input {
  height: 80px;
  width: 100%;
  border: 4px solid #BEB2B4;
  border-radius: 10px 0 0 10px;
  font-size: 1.8em;
  padding: 0 20px;
  color: #3E2A34;
}

.search-input::placeholder {
  color: #8C7D83;
}

.search-btn {
  height: 88px;
  width: 100px;
  background-color: #BEB2B4;
  color: #FFF;
  font-size: 2.5em;
  border: 4px solid #BEB2B4;
  border-radius: 0 10px 10px 0;
}

.search-input:focus {
  border: 4px solid #D47360;
}

.search-input:focus::placeholder {
  color: transparent;
}

.search-input:focus + .search-btn {
  background-color: #D47360;
  border: 4px solid #D47360;
}

.search-btn:focus {
  background-color: #D47360;
  border: 4px solid #D47360;
}

.user-area {
  padding: 55px;
}

.user-input-area {
  text-align: left;
  letter-spacing: 1px;
}

.title-input-area,
.caption-input-area {
  display: flex;
  flex-direction: column-reverse;
}

.user-input {
  height: 95px;
  margin: 10px 0 60px 0;
  padding: 0;
  border: 4px solid #FFF;
  color: #3E2A34;
  font-size: 1.8em;
  padding: 0 20px;
}

.input-label {
  color: #8C7D83;
  font-size: 1.7em;
}

.user-input:focus {
  border: 4px solid #D47360;
}

.user-input:focus + .input-label {
  color: #D47360;
}

.user-btn-area {
  display: flex;
  flex-direction: column;
}

.user-btn {
  background-color: #5B4447;
  color: #FFF;
  letter-spacing: 2px;
  padding: 28px;
  cursor: pointer;
}

.user-btn:hover,
.user-btn:focus {
  background-color: #8C7D83;
}

.user-btn:active {
  background-color: #5B4447;
}

#file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#file-input:focus + .file-input-btn {
  background-color: #8C7D83
}

.file-input-btn {
  font-size: 1.8em;
  margin: 20px 0 0 0;
}

.view-and-add-btn-area {
  display: flex;
  justify-content: space-between;
  margin: 70px 0 15px 0;
}

.view-favorites-btn,
.add-to-album-btn {
  font-size: 1.4em;
  width: 45%;
}

.add-to-album-btn:disabled {
  background-color: #3E2A34;
  border: 4px solid #8C7D83;
  color: #8C7D83;
}

.photo-area {
  background-color: #BEB2B4;
  min-height: 420px;
  padding: 65px;
}

.empty-photo-area-heading {
  color: #8C7D83;
  display: block;
}

.photo-card {
  background-color: #FFF;
  border: 4px solid #8C7D83;
  text-align: left;
  margin: 0 0 65px 0;
}

.photo-card-heading {
  font-size: 3em;
  font-weight: 600;
  margin: 0;
  padding: 35px;
  border: 6px solid transparent
}

.photo-card-img {
  width: 100%;
}

.photo-card-caption {
  font-size: 2.9em;
  padding: 20px 35px 35px 35px;
  margin: -6px 0 0 0;
  line-height: 1.3;
  border: 6px solid transparent;
}

.photo-card-heading:focus,
.photo-card-caption:focus {
  outline: none;
  border: 6px solid #D47360;
}

.photo-card-icons {
  background-color: #5B4447;
  padding: 35px;
  display: flex;
  justify-content: space-between;
}

.card-icon {
  background-repeat: no-repeat;
  height: 110px;
  width: 110px;
  background-color: #5B4447;
}

.delete-icon {
  background-image: url("images/delete.svg");
}
 
.delete-icon:hover {
  background-image: url("images/delete-active.svg");
}

.favorite-icon {
  background-image: url("images/favorite.svg");
}

.favorite-icon:hover,
.favorite-icon-active {
  background-image: url("images/favorite-active.svg")
}

/*@media only screen and (min-width: 600px) {

  .header {
    display: flex;
    justify-content: space-between;
    margin: 50px 50px 0 100px;
  }

  .search-container {
    width: 30%;
    margin-top: 50px;
  }

  .user-area {
    max-width: 50%;
    margin: 0 auto;
  }

  .user-btn:hover {
    background-color: #8C7D83;
  }

  .user-btn:active {
    background-color: #5B4447;
  }

  .photo-area {
    padding: 100px;
  }

  .photo-card {
    margin: 50px;
    max-width: 575px
  }

  .delete-icon:hover {
    background-image: url("images/delete-active.svg")
  }

  .favorite-icon:hover {
    background-image: url("images/favorite-active.svg")
  }

}*/